<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">

    <testsuites>

        <testsuite name="Directives">
            <directory>tests/Directives</directory>
        </testsuite>

        <testsuite name="Addresses">
            <directory>tests/Modules/Addresses</directory>
        </testsuite>

        <testsuite name="Comments">
            <directory>tests/Modules/Comments</directory>
        </testsuite>
        
        <testsuite name="Likes">
            <directory>tests/Modules/Likes</directory>
        </testsuite>

        <testsuite name="Notifications">
            <directory>tests/Modules/Notifications</directory>
        </testsuite>

        <testsuite name="Otps">
            <directory>tests/Modules/Otps</directory>
        </testsuite>

        <testsuite name="Ratings">
            <directory>tests/Modules/Ratings</directory>
        </testsuite> 

        <testsuite name="Totps">
            <directory>tests/Modules/Totps</directory>
        </testsuite> 

    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:testkey1234567890testkey1234567890="/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>